<div id="popoverWrapper">
    <div class="arrow"></div>
    <div id="locations-list" class="popover" role="tooltip">
        <div id="store-locator-title">You`re shoping at:</div>
        <div class="preferred-location-wrapper">
            <h6 id="store-locator-city"></h6>
            <input id="set-preferred-location-button" type="button" title="Set as prefered" value="Set as prefered" />
            <span id="preferred-location-label" class="preferred-location-label"> - preferred location</span>
        </div>
        <div id="store-locator-search">
            <label class="store-locator-search-label" for="store-locator-input">Change store</label>
            <input id="store-locator-input" name="store-locator-input" />
            <div id="store-locator-search-results"></div>
        </div>
    </div>
</div>