<div class="product-delivery-radio">
    <div class="product-delivery-radio__item">
        <input type="radio" checked="checked" name="delivery">
        <label for="delivery"></label>
        <span class="product-delivery-radio__checkmark"></span>
        <div class="product-delivery-radio__item__content">
            <div class="product-delivery-radio__item__content--left">
                <div class="product-delivery-radio__item__title">Delivery</div>
            </div>
            <div class="product-delivery-radio__item__content--right">
                <div class="product-delivery-radio__item__title product-delivery-radio__item__title--error">Out of stock</div>
            </div>
        </div>
    </div>
    <div class="product-delivery-radio__item">
        <input type="radio" name="delivery">
        <label for="delivery"></label>
        <span class="product-delivery-radio__checkmark"></span>
        <div class="product-delivery-radio__item__content">
            <div class="product-delivery-radio__item__content--left">
                <div class="product-delivery-radio__item__title">Delivery</div>
                <div class="product-delivery-radio__item__sub-title">George street, Open until 6:00 pm </div>
            </div>
            <div class="product-delivery-radio__item__content--right">
                <div class="product-delivery-radio__item__title product-delivery-radio__item__title--success">5 in stock</div>
            </div>
        </div>
    </div>
</div>