<div class="product-delivery-radio">
    <div class="product-delivery-radio__item">
        <input type="radio" value="delivery" name="delivery" product-delivery-radio-change>
        <label for="delivery"></label>
        <span class="product-delivery-radio__checkmark"></span>
        <div class="product-delivery-radio__item__content">
            <div class="product-delivery-radio__item__content--left">
                <div class="product-delivery-radio__item__title">Delivery</div>
            </div>
            <div class="product-delivery-radio__item__content--right">
                <div id="delivery-stock" class="product-delivery-radio__item__title"></div>
            </div>
        </div>
    </div>
    <div class="product-delivery-radio__item">
        <input type="radio" name="delivery" value="pick-up" product-delivery-radio-change>
        <label for="delivery"></label>
        <span class="product-delivery-radio__checkmark"></span>
        <div class="product-delivery-radio__item__content">
            <div class="product-delivery-radio__item__content--left">
                <div class="product-delivery-radio__item__title">Pickup in store</div>
                <div id="pick-up-address" class="product-delivery-radio__item__sub-title"></div>
            </div>
            <div class="product-delivery-radio__item__content--right">
                <div id="preferred-location-stock" class="product-delivery-radio__item__title"></div>
                <a id="store-locator-trigger">More available at other stores</a>
            </div>
        </div>
    </div>
</div>
